<template>
    <div class="sidebar">
        <div class="menu-items">
            <router-link to="/" active-class="active" tag="button" exact class="side-btn">
                <div class="link-container">
                     <a href="#home"><i class="fa fa-fw fa-home" style="font-size: 33px;color:grey"></i><br><span style="font-size: 10px;color:grey">HOME</span></a>
      
                </div>
            </router-link>
            <router-link to="/messages" active-class="active" tag="button" exact class="side-btn">
                <div class="link-container">
                    <a href="#home"><i class="fa fa-fw fa-home" style="font-size: 33px;color:grey"></i><br><span style="font-size: 10px;color:grey">ANTRIAN</span></a>

                </div>
            </router-link>
            <router-link to="/profile" active-class="active" tag="button" exact class="side-btn">
                <div class="link-container">
                     <a href="#home"><i class="fa fa-ambulance" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey">REGIS</span></a>
                </div>
            </router-link>
            <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-stethoscope" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> RAJAL</span></a>
                </div>
            </router-link>
            <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-bed" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> RANAP</span></a>
                </div>
            </router-link>
            <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-line-chart" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> REKMED</span></a>
                </div>
            </router-link>
            <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-desktop" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> FARMASI</span></a>
                </div>
            </router-link>
            <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-line-chart" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> RADIOLOGI</span></a>
                </div>
            </router-link>
                        <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-desktop" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> LAB</span></a>
                </div>
            </router-link>
                        <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-desktop" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> KASIR</span></a>
                </div>
            </router-link>
                        <router-link to="/rajal" active-class="active" tag="button" exact class="side-btn">
                 <div class="link-container">
                     <a href="#home"><i class="fa fa-desktop" style="font-size: 33px; color:grey"></i><br><span style="font-size: 10px;color:grey"> SEKRE</span></a>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.sidebar{
    
}
.title {
    color: white;
    margin-top: 10px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0px;
}

.menu-items > * {
    margin-top: 10px;
}

.side-btn {
    border: none;
    padding: 1px 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
}

.side-btn:focus {
    outline: none;
}

.side-btn.active {
    position: relative;
    color: rgb(254, 255, 255);
}

.side-btn.active::before {
    top: -30px;
}

.side-btn.active::after {
    bottom: -30px;
}

.side-btn.active::before, .side-btn.active::after {
    position: absolute;
    content: "";
    right: 0;
    height: 30px;
    width: 30px;
}

.side-btn.active .link-container::before {
    top: -60px;
}

.side-btn.active .link-container::after {
    bottom: -60px;
    z-index: 99;
}

</style>