<template>
    <div class="dashboard">
        <Sidebar/>
        <div class="content">
            <router-view/>
        </div>
    </div>
</template>

<script>
import Sidebar from '../components/Sidebar'
export default {
    name: 'home',

    components: {
        Sidebar
    }
}
</script>

<style>
.dashboard {
    display: grid;
    grid-template-columns: 1fr 20fr;
    background-color: rgb(6, 3, 92);
    height: 100%;
    width: 99.5%;
    margin-left: 5px;
    margin-top: 5px;
}

.content {
    background-color: white;
    margin: 6px 6px 6px 0px;
}
</style>