<template>
  <div class="main">
    <div class="header">
      <div class="link-container">
        <div class="patient">
          <table width="100%" cellpadding="0" callspacing="0" border="0">
            <tr>
              <td width="3%">
                <a href="#home"
                  ><i
                    class="fa fa-fw fa-reply"
                    style="font-size: 25px; color: black"
                  ></i
                ></a>
              </td>
              <td>&nbsp;</td>
              <!-- this is the padding table cell -->

              <td width="50%">
                <div class="patient2">RAWAT JALAN</div>
              </td>

              <td>&nbsp;</td>
              <td width="30%" style="float: left">
                <a href="#home"
                  ><i
                    class="fa fa-fw fa-undo"
                    style="font-size: 25px; color: black"
                  ></i
                ></a>
              </td>
              <td>&nbsp;</td>
              <td width="100%">
                <input
                  style="
                    margin: auto;
                    width: 75%;
                    height: 26px;
                    margin-left: 20%;
                  "
                  type="text"
                  placeholder="Search.."
                  class="fa fa-fw fa-search"
                />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="information">
      <table width="100%" cellpadding="0" callspacing="0" border="0">
        <tr>
          <td width="20%">
            NAMA
            <div class="detailinformation">
              <a href="#home"
                ><i
                  class="fa fa-fw fa-female"
                  style="
                    font-size: 25px;
                    color: black;
                    margin-top: 3%;
                    float: left;
                  "
                ></i
              ></a>

              NY. MARIANA (23)
            </div>
          </td>

          <td>&nbsp;</td>
          <!-- this is the padding table cell -->
          <td width="15%">
            TANGGAL LAHIR
            <div class="detailinformation">13 JAN 1997</div>
          </td>
          <td>&nbsp;</td>

          <td width="10%">
            NOMOR REKAM MEDIS
            <div class="detailinformation">001234567</div>
          </td>
          <td>&nbsp;</td>
          <td width="30%">
            DPJP
            <div class="detailinformation">dr. Febri Bahari, SpPD, KGEH</div>
          </td>
          <td>&nbsp;</td>
          <td width="25%">
            ANDA MASUK SEBAGAI
            <div class="detailinformation">
              <a href="#home"
                ><i
                  class="fa fa-fw fa-user"
                  style="
                    font-size: 25px;
                    color: white;
                    margin-top: 2%;
                    margin-left: 2%;
                    float: left;
                    border: 2px solid rgb(0, 0, 0);
                    border-radius: 10px;
                  "
                ></i
              ></a>
              dr. Dany Petra, SpPD
            </div>
          </td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="symptomsinformation">
      <table style="height: 80px" width="100%">
        <tbody>
          <tr>
            <td class="symptleft" style="width: 50%;height 50px;">
              &nbsp;
              <div class="headersympt">
                KELUHAN UTAMA
                <div class="detailsympt">
                  KU:
                  <i
                    class="detail"
                    style="font-weight: normal; font-size: 20px"
                  >
                    Muntah berdarah sejak 1 hari yang lalu</i
                  >
                </div>
              </div>
            </td>
            <td class="symptright" style="width: 50%" rowspan="2">
              <table style="width: 726px; height: 80px">
                <tbody>
                  <tr style="height: 20px">
                    <td style="width: 241px; height: 20px" colspan="2">
                      <span style="text-decoration: underline"
                        ><strong>TANDA-TANDA VITAL</strong></span
                      >
                    </td>
                    <td
                      style="
                        width: 59px;
                        height: 28px;
                        background-color: gray;
                        border-radius: 10px;
                      "
                    >
                      &nbsp;<strong>H+3</strong>
                    </td>
                    <td
                      style="
                        width: 363px;
                        height: 28px;
                        background-color: white;
                        border-radius: 10px;
                      "
                      colspan="3"
                    >
                      &nbsp; &nbsp;Last update: Selasa, 27 OKT 2020. 06.30 WIB
                    </td>
                  </tr>
                  <tr style="height: 51px">
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: green;
                        border-radius: 10px;
                      "
                    >
                      <p class="sympttitle">KESADARAN</p>
                      <p class="symptdesc">
                        <strong>Compos Mentis&nbsp;</strong>
                      </p>
                    </td>
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: green;
                        border-radius: 10px;
                      "
                    >
                      <p class="sympttitle">TEKANAN DARAH&nbsp;</p>
                      <p class="symptdesc">110/70</p>
                      <p class="sympttitle">mmHg</p>
                    </td>
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: red;
                        border-radius: 10px;
                      "
                    >
                      <p class="  ">LAJU NADI</p>
                      <p class="symptdesc"><strong>120</strong></p>
                      <p class="sympttitle">kali/menit&nbsp;</p>
                    </td>
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: yellow;
                        border-radius: 10px;
                      "
                    >
                      <p class="sympttitle">LAJU NAPAS&nbsp;</p>
                      <p class="symptdesc">20</p>
                      <p class="sympttitle">kali/menit</p>
                    </td>
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: green;
                        border-radius: 10px;
                      "
                    >
                      <p class="sympttitle">SUHU TUBUH</p>
                      <p class="symptdesc">37,3</p>
                      <p>C&nbsp;</p>
                    </td>
                    <td
                      style="
                        width: 120px;
                        height: 51px;
                        background-color: yellow;
                        border-radius: 10px;
                      "
                    >
                      <p class="sympttitle">&nbsp;EWS</p>
                      <p class="symptdesc">3</p>
                    </td>
                  </tr>
                </tbody>
              </table>

              &nbsp;&nbsp;
            </td>
          </tr>
          <tr>
            <td class="symptleft" style="width: 50%;height 50px;">
              &nbsp;
              <div class="headersympt">
                DIAGNOSIS PRIMER DAN SEKUNDER
                <div class="detailsympt">
                  DP:
                  <i class="detail" style="font-weight: normal; font-size: 20px"
                    >Esophageal varices with bleeding (l85.01)..</i
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="navigationinfo">
      <table
        style="width: 100%; height: 80%; margin-left: 1px; margin-top: 3px"
      >
        <tbody>
          <tr>
            <td
              style="
                width: 14%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;Pengkajian Awal
            </td>
            <td
              style="
                width: 12%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;Lab/Radiologi
            </td>
            <td
              style="
                width: 11%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;CPPT Ranap
            </td>
            <td
              style="
                width: 14%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;Informed Concent
            </td>
            <td
              style="
                width: 13%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;Skrining
            </td>
            <td
              style="
                width: 17%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;Rekonsiliasi Obat
            </td>
            <td
              style="
                width: 16%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              Resume medis&nbsp;
            </td>
            <td
              style="
                width: 8%;
                border: 1px solid rgb(72, 69, 69);
                background-color: gray;
                border-radius: 4px;
              "
            >
              &nbsp;
              <a href="#home"
                ><i
                  class="fa fa-fw fa-tasks"
                  style="
                    font-size: 25px;
                    color: white;
                    margin-top: 2%;
                    margin-left: 2%;
                    float: midle;
                    border: 2px solid rgb(255, 255, 255);
                    border-radius: 4px;
                  "
                ></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="content-main">
      <table style="width: 100%; height: 100%">
        <tbody>
          <tr>
            <td
              style="
                width: 15%;
                height: 100%;
                background-color: #ccf5ff;
                border-radius: 4px;
              "
            >
              &nbsp;

              <div class="headersympt">RIWAYAT BEROBAT</div>
              <div class="container">
                <!-- completed -->
                <div class="step completed">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div
                    class="content"
                    style="color: blue; background-color: transparent"
                  >
                    25 Okt 2020 IGD-RANAP
                  </div>
                </div>

                <div class="step">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div class="content" style="background-color: transparent">
                    3 Okt 2020 RAJAL
                  </div>
                </div>

                <!-- regular -->
                <div class="step">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div class="content" style="background-color: transparent">
                    4 Sept 2020 RAJAL
                  </div>
                </div>

                <div class="step">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div class="content" style="background-color: transparent">
                    20 Juni 2020 IGD
                  </div>
                </div>

                <div class="step">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div class="content" style="background-color: transparent">
                    1 Feb 2020 IGD-RANAP
                  </div>
                </div>
              </div>
            </td>
            <div class="contentright" style="width: 100%; background-color: blue">
            <td style="width:10.5%; background-color: black;">
              &nbsp;

              <table style="width: 100%">
                <tbody>
                  
                  <tr style="height: 23px">
                    
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: yellow;
                        border-radius: 4px;
                        padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Anamnesis
                    </td>
                  
                  </tr>
                   
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                        padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Riw. Alergi
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        
                      "
                    >
                      &nbsp;Status Nyeri
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                                padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Fungsional
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Resiko Jatuh
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                                padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Skrining Gizi
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                                padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Edukasi
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Pem. Fisik
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Radiologi
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Draf. Masalah
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Tatalaksana
                    </td>
                  </tr>
                  <tr style="height: 23px">
                    <td
                      style="
                        width: 100%;
                        height: 23px;
                        border: 1px solid rgb(72, 69, 69);
                        background-color: gray;
                        border-radius: 4px;
                                              padding-bottom: 10px;
                        padding-top: 10px;
                      "
                    >
                      &nbsp;Riw. Obat
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td style="width: 100%; background-color: white">&nbsp; 
              <table style="width: 100%; height: 173px; border: 1px solid rgb(72, 69, 69);border-radius: 4px;">
              <tbody>
              <tr style="height: 22px;">
              <td style="width: 708px; height: 22px;" colspan="3"><strong>&nbsp; PENGKAJIAN PASIEN RAWAT INAP</strong></td>
              </tr>
              <tr style="height: 22px;">
              <td style="width: 237px; height: 22px;"><strong>&nbsp;Autoanamnesis</strong></td>
              <td style="width: 381px; height: 22px;"><strong>&nbsp;Tanggal Masuk Bangsal: Senin, 20 Okt. 2020, 12:00WIB</strong></td>
              <td style="width: 90px; height: 44px;" rowspan="2"><strong>&nbsp; 
                
                              <a href="#home"
                ><i
                  class="fa fa-fw fa-print"
                  style="
                    font-size: 38px;
                    color: black;
                    margin-top: 3%;
                    background-color:gray;
                    border-radius: 30px;
                  "
                ></i
              ></a>
                
                </strong></td>
              </tr>
              <tr style="height: 22px;">
              <td style="width: 237px; height: 22px;"><strong>&nbsp;Alloanamnesis : Tn. Rizal (Suami)</strong></td>
              <td style="width: 381px; height: 22px;"><strong>&nbsp;Anamnesis oleh: dr. Sukma Ayu</strong></td>
              </tr>
              <tr style="height: 36px;">
              <td style="width: 618px; height: 36px;border: 1px solid rgb(72, 69, 69);border-radius: 4px;" colspan="2">&nbsp;&nbsp;KELUHAN UTAMA: Muntah berdarah 1 hari lalu</td>
              <td style="width: 90px; height: 36px;">&nbsp;
                
                                              <a href="#home"
                ><i
                  class="fa fa-fw fa-edit"
                  style="
                    font-size: 35px;
                    color: black;
                    margin-top: 3%;
                    width: 37px;
                    height:37px;
                    background-color:green;
                    border-radius: 20%;
                  "
                ></i
              ></a>
                
              </td>
              </tr>
              <tr style="height: 128px;">
              <td style="width: 618px; height: 128px;border: 1px solid rgb(72, 69, 69);border-radius: 4px;" colspan="2">&nbsp;&nbsp;RIWAYAT PENYAKIT SEKARANG:&nbsp;Pasien mengalami muntah berdarah</td>
              <td style="width: 90px; height: 128px;">
                
                <a href="#home"
                ><i
                  class="fa fa-fw fa-edit"
                  style="
                    font-size: 35px;
                    color: black;
                    margin-top: 3%;
                    width: 37px;
                    height:37px;
                    background-color:green;
                    border-radius: 20%;
                  "
                ></i
              ></a>
                
                &nbsp;</td>
              </tr>
              <tr style="height: 102px;">
              <td style="width: 618px; height: 102px;border: 1px solid rgb(72, 69, 69);border-radius: 4px;" colspan="2">&nbsp;&nbsp;RIWAYAT PENYAKIT DAHULU: Pasien sebelumnya pernah</td>
              <td style="width: 90px; height: 102px;"><a href="#home"
                ><i
                  class="fa fa-fw fa-edit"
                  style="
                    font-size: 35px;
                    color: black;
                    margin-top: 3%;
                    width: 37px;
                    height:37px;
                    background-color:green;
                    border-radius: 20%;
                  "
                ></i
              ></a>&nbsp;</td>
              </tr>
              <tr style="height: 64px;">
              <td style="width: 618px; height: 64px;border: 1px solid rgb(72, 69, 69);" colspan="2">&nbsp;RIWAYAT PENYAKIT KELUARGA:&nbsp; Kakak pasien juga</td>
              <td style="width: 90px; height: 64px;">&nbsp;&nbsp;<a href="#home"
                ><i
                  class="fa fa-fw fa-edit"
                  style="
                    font-size: 35px;
                    color: black;
                    margin-top: 3%;
                    width: 37px;
                    height:37px;
                    background-color:green;
                    border-radius: 20%;
                  "
                ></i
              ></a></td>
              </tr>
              </tbody>
              </table>


            </td>
                        </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.main {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #808ce8;
  padding: 5px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.patient {
  width: 98%;
  height: 20%;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  margin: 0;
  font-size: 20px;
  text-align: left;
  text-align-last: auto;
  color: black;
}

.patient2 {
  width: 110%;
  height: 30px;
  border: 1px solid rgb(23, 23, 23);
  background-color: white;
  margin: 0;
  font-size: 20px;
  text-align: left;
  text-align-last: auto;
  color: black;
}
.information {
  font-size: 9px;
}
.detailinformation {
  border-radius: 7px;
  width: 100%;
  height: 40px;
  border: 2px;
  background: rgb(178, 190, 225);
  font-size: 23px;
  text-align: center;
}
.detailsymptomsinformation {
  border-radius: 7px;
  width: 100%;
  height: 40px;
  border: 2px;
  background: rgb(178, 190, 225);
  font-size: 5px;
  text-align: center;
}

.symptleft {
  border-radius: 7px;
  width: 100%;
  border: 2px;
  background: rgb(178, 190, 225);
  text-align: left;
}
.headersympt {
  font-size: 10px;
  font-weight: normal;
}
.detailsympt {
  font-size: 20px;
  font-weight: bold;
}

.symptright {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  border: 2px;
  background: rgb(178, 190, 225);
  text-align: center;
}
.sympttitle {
  font-size: 10px;
}
.symptdesc {
  font-size: 15px;
}

.navigationinfo {
  width: 99.8%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(1, 24, 91);
  text-align: center;
}
.container {
  width: 100%;
}

.step {
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px; /* +6 for border */
  height: 20px;
  display: inline-block;
}

.step .line {
  top: 23px;
  left: 12px;
  /*   height: 120px; */
  height: 100%;

  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: rgb(255, 255, 255);
  border-color: rgb(4, 11, 93);
}

.step.completed .line {
  border-left: 3px solid rgb(4, 11, 93);
}

.step.active .circle {
  visibility: visible;
  border-color: rgb(4, 11, 93);
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content {
  margin-left: 10px;
  display: inline-block;
  width: 80%;
}
</style>